<%- include("parts/header") %>

    <%- include("parts/navbar") %>


        <div class="product">
            <div class="container">
                <div class="row">
                    
                    <div class="card col-md-7 col-sm-12 col-xs-12 mt-5">
                        <div class="img text-center">
                            <img src='../<%= product.img %>' alt="">
                        </div>
                        <div class="info text-center">
                            <h4 class="card-title text-capitalize">
                                    <%= product.name %>
                            </h4>
                            <p>
                                <%= product.price + " $" %>
                            </p>
                            <p>
                                <%= product.description + " $" %>
                            </p>
                            <form action="/card" method="POST">
                                <input type="text" placeholder="Enter Product Amount" />
                                <input class="border-0 btn btn-info" type="submit" value="Add To Card" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include("parts/footer") %>